*{
  margin: 0;
  padding: 0;

}

.container{
width: 80% ;
margin: 0 auto;
}
.containerDesktop{
  width: 80%;
  margin: 0 auto;
}
.h100{
height: 100%;
}
.flex{
display: flex;
}
.col{
  flex-direction: column;
}
.center{
  justify-content: center;
  align-items: center;
}
.row{
flex-direction: row;
}
.w100{
  width: 100%;
}


.align_center{
align-items: center;
}
.bet{
justify-content: space-between;
}